@font-face {
  font-family: TempleOS;
  src: url(Extra/templeos_font.ttf);
}
body {
  background-color: #757575;
  font-family: TempleOS;
  text-align: center;
}
ul {
  display: table;
  margin: 0 auto;
}
img {
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.6);
  border: 3px dashed;
  margin-left: 650px;
}
h1 {
  font-family: TempleOS;
  text-align: center;
  text-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.4);
}
h3 {
  font-weight: 700;
}
p {
  font-size: 13px;
}
hr {
  border: dashed;
}
.main {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin-left: 160px;
  margin-right: 160px;
  padding: 0px 10px;
}
.wrapper {
  background-color: darkgray;
  border: 2px dashed blue;
  padding: 10px;
  margin-left: 10px;
  margin-right: 0px;
}
.container {
  display: flex;
  gap: 1px;
}
