@font-face {
  font-family: TempleOS;
  src: url(Extra/templeos_font.ttf);
}
body {
  background-color: #757575;
  font-family: TempleOS;
}
ul {
  display: table;
  margin: auto;
  align-items: center;
}
img {
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.6);
  border: 3px dashed;
  max-width: 100%;
  height: auto;
}
h1 {
  font-family: TempleOS;
  text-align: center;
  text-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.4);
}
h3 {
  text-align: center;
  font-weight: 700;
}
p {
  text-align: center;
  font-size: 13px;
}
hr {
  border: dashed;
  background-color: darkblue;
  color: darkgray;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}
header {
  border: 3px double blue;
}
.main {
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
  margin: auto;
}
.wrapper {
  display: grid;
  background-color: darkgray;
  border: 3px dashed blue;
  padding: 5px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 10px;
  justify-content: center;
}
#lists {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 10px;
}
#left,
#right {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
}
#left {
  background: darkgray;
  left: 0;
  border: 3px inset blue;
}
#right {
  background: darkgray;
  right: 0;
  border: 3px outset blue;
}
